<title>Login - Hotel Luxury Bela Vista</title>
<link rel="stylesheet" href="../css/login.css">

<body>

    <!--Grid 2 colunas-->
        <div class="d-grid-login">

            <!--Coluna Imagem-->
                <div id="d-imgHotelExt-login">
                    <img src="../img/login/parteExternaHotel.png" class="" alt="Foto da parte externa do Hotel">
                </div>
            <!--Fim da Coluna Imagem-->

            <!--Coluna Formulario-->
                <div class="d-colFormulario-login">
                        
                    <!--Formulario Login-->
                        <form id="loginUser" action="/usuario/login" method="POST">
                            <div class="d-fitaVermelha-login"></div>

                            <!--Titulo-->
                                <h1>Login</h1>

                                <ul style="text-align: center;">

                                    {{#if messages.success_msg}}
                                        <li >{{messages.success_msg}}</li>
                                    {{/if}}

                                    {{#if messages.error_msg}}
                                        <li >{{messages.error_msg}}</li>
                                    {{/if}}

                                </ul>


                            <!--Campo Email-->
                                <div class="d-grid-2cols d-input-login">

                                    <div class="d-labelIcon-login">
                                        <img src="../img/login/arroba.png" alt="Icone do campo email">
                                    </div>

                                    <div class="d-campo-login">
                                        <input type="email" name="Email" id="email_user" placeholder="digite seu email">
                                    </div>

                                </div>
                            
                            <!--Campo Senha-->
                                <div class="d-grid-2cols d-input-login">

                                    <div class="d-labelIcon-login">
                                        <img src="../img/login/cadeado.png" alt="Icone do campo senha">
                                    </div>

                                    <div class="d-campo-login">
                                        <input type="password" name="Senha" id="senha_user" placeholder="digite sua senha">
                                    </div>
                                    
                                </div>

                            <!--Texto cadastre-se-->
                                <p>Ainda não possui cadastro? Então <a href="/cadastrar">cadastre-se</a></p>

                            <button type="submit">ENTRAR</button>
                        </form>
                    <!--Fim do Formulario login-->

                </div>
            <!--Fim da Coluna Formulario-->
        </div>
    <!--Fim da Grid 2 colunas-->

</body>