
<title>Quartos Disponiveis - Hotel Luxury Bela Vista</title>
<link rel="stylesheet" href="../css/quartos.css">

<body>

    <!--Container Branco-->
        <div class="d-containerBranco-quartos">
            
            <!--Icone Agendamentos-->
                <img src="../img/quartos/blocoDeAnotacoes.png" alt="Icone agendamentos">

            <!--Bandeira Vermelha-->
                <div class="d-fitaVermelha-quartos"></div>


            <!--Texto agendamentos-->
                <div>
                    <h1>AGENDAMENTOS</h1>
                    <p>Para agendar uma das melhores reservas do Brasil, entre em contato conosco pelo número +55 11 95325-9340, ou faça sua reserva na unidade localizada na Rua Carlos Sampaio, Bela Vista</p>
                    <p>Para uma experiencia mais rápida, você pode agendar agora mesmo pelo site!</p>
                </div>
            <!--Fim do texto agendamentos-->

        </div>
    <!--Fim do Container Branco-->

    <!--Container Tipos de Quarto-->
        <div class="grid grid-cols-3 gap-2 p-6 d-TiposDeQuarto-quartos">

            <!--Quarto de Luxo-->
                <div class="card rounded overflow-hidden shadow-lg bg-white mb-5" onclick="window.location.href='/reservar_luxo'">
                    
                    <div class="w-full">
                        <img src="../img/quartos/quarto1.png" alt="Foto do quarto de luxo">
                    </div>

                    <div class="px-6 py-4">
                        <h2 class="font-bold text-xl mb-2">Quarto de Luxo</h2>
                        <p>Aprecie a vista que o nosso hotel proporciona, este é o nosso melhor quarto.</p>
                    </div>

                </div>
            <!--Fim do Quarto de Luxo-->

            <!--Quarto de Casal-->
                <div class="card rounded overflow-hidden shadow-lg bg-white mb-5" onclick="window.location.href='/reservar_casal'">
                    
                    <div class="w-full">
                        <img src="../img/quartos/quarto2.png" alt="Foto do quarto de casal">
                    </div>

                    <div class="px-6 py-4">
                        <h2 class="font-bold text-xl mb-2">Quarto de Casal</h2>
                        <p>Passe seus momentos românticos com conforto, desfrute do conforto máximo em nossos quartos de casal.</p>
                    </div>

                </div>
            <!--Fim do Quarto de Casal-->

            <!--Quarto de Familia,-->
                <div class="card rounded overflow-hidden shadow-lg bg-white mb-5" onclick="window.location.href='/reservar_familia'">
                    
                    <div class="w-full">
                        <img src="../img/quartos/quarto3.png" alt="Foto do quarto de familia">
                    </div>

                    <div class="px-6 py-4">
                        <h2 class="font-bold text-xl mb-2">Quarto de Familia</h2>
                        <p>Nossos maiores quartos, onde sua família desfruta do melhor conforto.</p>
                    </div>

                </div>
            <!--Fim do Quarto de Familia-->


        </div>
    <!--Fim do Container Tipos de Quarto-->
</body>